.container {
	width: max-content;
	height: 100%;
	font-size: 1em;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1ch;

	background-color: var(--secondary-bg);
	border-radius: 0.25em;

	color: var(--primary-text);
	font-weight: 500;

	padding: 0.5em 1em;
}
