.gridItems {
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(var(--item-card-v-per-row), var(--item-card-v-width));
	gap: var(--item-card-v-gap);
}

.loadMore{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	text-wrap: nowrap;

	button{
		background-color: white;
		border: 0.1ch solid var(--primary-border);
		border-radius: 0.5ch;
		padding: 1ch 10ch;
		color: var(--third-text);
		cursor: pointer;
	}
}

.noMore{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	text-wrap: nowrap;
	color: var(--third-text);
}

@keyframes pulse {
	0% {
		background-color: #e0e0e0;
	}

	50% {
		background-color: #f0f0f0;
	}

	100% {
		background-color: #e0e0e0;
	}
}
