$max-items-to-show: 4;

.container {
	position: sticky;
	top: 0;

	display: flex;
	align-items: center;

	height: var(--header-height);
	z-index: var(--z-index-header);
	background-color: var(--primary-bg);
}

.block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2ch;
}

.menuButton {
	cursor: pointer;
	width: 1.5em;
	height: 1.5em;
	
	display: none;
	justify-content: center;
	align-items: center;

	border-radius: 0.2ch;
	border: 0.1ch solid var(--primary-text);
	background-color: transparent;
	color: var(--primary-text);

	font-size: 1.5em;
}

.nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2ch;

	&.menuOpen {
		z-index: var(--z-index-dropdown);
	}

	a {
		display: flex;
		align-items: center;
		gap: 1ch;
		color: var(--primary-text);
		transition: all 0.2s ease-in-out;
		padding: 0.5em;
		border-radius: 0.5em;

		&:hover {
			color: var(--secondary-text);
		}

		&.navActived {
			color: var(--primary-bg);
			background-color: var(--primary-text);
		}
	}
}

.search {
	position: relative;
	width: 100%;
	.searchBar {
		width: 100%;
		background-color: var(--primary-text);
		border: 0.1em solid var(--primary-border);
		outline: 0.2em solid transparent;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1ch;

		padding: 0.5em 1em;
		border-radius: 0.25em;

		font-size: 1em;
		transition: all 0.2s ease-in-out;

		input {
			width: 100%;
			background-color: transparent;
			color: var(--secondary-text);

			&::placeholder {
				color: var(--third-text);
			}

			& {
				letter-spacing: 0.15ch;
			}
		}

		svg {
			width: max-content;
			color: var(--secondary-text);
		}
	}
	.searchResultsWrapper {
		position: absolute;
		width: 100%;
		height: max-content;
		max-height: calc(var(--item-card-h-height) * $max-items-to-show);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 1ch;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: var(--primary-text);

		box-shadow: var(--primary-box-shadow);

		&::-webkit-scrollbar {
			width: 0.5ch;
		}

		&::-webkit-scrollbar-track {
			background: var(--third-text);
		}

		&::-webkit-scrollbar-thumb {
			background: var(--secondary-text);
			&:hover {
				background: var(--secondary-text);
			}
		}

		*[class*="card"] {
			border-radius: 0;
			box-shadow: none;

			&:not(:last-child) {
				border-bottom: 0.2ch solid var(--primary-border);
			}

			&:last-child:nth-child(n + #{$max-items-to-show + 1}) {
				margin-bottom: calc(var(--item-card-h-height) * ($max-items-to-show - 1));
			}
		}

		.noResults {
			width: 100%;
			height: max-content;

			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2ch 0;

			color: var(--third-text);
			font-size: 0.8em;
		}

		.viewMore {
			width: 100%;
			height: max-content;

			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2ch 0;

			color: var(--third-text);
			font-size: 0.8em;
			cursor: pointer;

			&:hover {
				color: var(--secondary-text);
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.nav {
		a {
			border: 0.1em solid var(--primary-text);
			span {
				display: none;
			}
		}
	}
}

@media (max-width: 768px) {
	.container {
		position: relative;
	}

	.menuButton {
		display: block;
	}

	.nav {
		position: fixed;
		top: var(--header-height);
		right: -100%;
		flex-direction: column;
		background-color: var(--primary-bg);
		width: 250px;
		height: calc(100vh - var(--header-height));
		padding: 1rem;
		transition: right 0.3s ease-in-out;

		&.menuOpen {
			right: 0;
		}

		a {
			width: 100%;
			justify-content: flex-start;

			span {
				display: inline;
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.left {
		[class*="web-logo"] {
			[class*="web-logo__block"] span {
				display: none;
			}
		}
	}
}